body{
    background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg");
}
.container{
    background-color: #444444;
    padding: 10px;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.name{ 
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0px;
}
img{
border-radius: 20px;
margin-top: 20px;
margin-left: 20px;
opacity: 0.8;
}
img:hover{
    opacity: 1;
}