body{
    background-color: lightgreen;
    padding-top: 50px;
    
}
.product{
    display: inline-block;
    width: 600px ;
    height: 620px;
    background: white;
    /* margin:auto; */
    padding-right: 200px;
   
    
}
.product-photo{
    
    
 
}
.photo-container{
    background-color: greenyellow;
    border-radius: 5px;
    position: relative;
    margin: 50px 50px 0 0;
}