body{
    background-color:  #CBD6CB;
    }
.container{ 
margin: auto;
width: 1000px;
}
.lower{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.l1{
    padding: 10px;
}
.l2{
    padding: 10px;
}
.m1{
    text-align: center; 
    padding: 10px; 
    margin-top: 40px;
 }
 .m2{
    padding: 10px;
    text-align: center;
    margin-top: 20px;
 }
 .r1{
    padding: 10px;
    
 }
 .r2{
    padding: 10px;
 }
