body{
    background-color:  #CBD6CB;
    }
.container{ 
    display: flex;
}
.top{
margin: auto;
width: 50%;
}
.l1{
padding: 10px;
margin: 10px;
}
.l2{
    padding: 10px;
    margin: 10px;
}
.m1{
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.m2{
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.r1{
    padding: 10px;
    margin: 10px;
}
.r2{
    padding: 10px;
margin: 10px;
}