/* #31a9ff #fffff */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

body{
  background-image: radial-gradient(white 30%,lightblue);
}

.start-page{
  width: 100vw;
  height: 100vh;
  display: block;
}

.btnstart{
  width: 280px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-140px,-25px);
  cursor: pointer;
  font-size: x-large;
}

.question-page{
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.question-container{
    box-shadow: gray 0.5px 0.5px 10px 0.1px;
    padding: 40px 70px;
}

.question1{
  padding: 10px 0 40px 0;
  margin: 10px 60px ;
  text-align: center;
  font-size:xx-large;
  color: hsl(44, 71%, 27%);
}

.answer{
  padding: 20px;
}

.answer button{
  margin: 10px;
  padding: 5px 10px;
  font-size: larger;
  border-radius: 15px;
  cursor: pointer;
  color: hsl(44, 72%, 20%);
  box-shadow: gray 0.5px 0.5px 4px 0.1px;
}

.answer button:active{
  transform: scale(1.1) ;
}

.breath-container{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #31a9ff;
  transition: background-color 3s ease;
}

.breath-container .text{
  color: #ffffff;
  font-size: 30px;
}

.breath{
  display: none;
}

.top, .bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
}

.mid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 15px;
  border-radius: 7.5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.line{
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #ffffff;
}

.expand{
  animation: expand 3s ease-in-out;
  /* animation-delay: 2s; */
}

.contract{
  animation: contract 3s ease-in-out;
}

.hold{
  width: 300px;
}

@keyframes expand{
  from{
    width: 15px;
  }
  to{
    width: 300px;
  }
}

@keyframes contract{
  from{
    width: 300px;
  }
  to{
    width: 15px;
  }
}

.player{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #31a9ff;
}

.player svg {
  position: absolute;
  height: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 7%;
}

.play{
  position: relative;
  bottom: 5%;
  padding-left: 1.5%;
  cursor: pointer;
}

.replay{
  position: absolute;
  bottom: 27%;
  cursor: pointer;
}
