*{
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  max-width: 750px;
  min-width: 480px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, #lowOrHigh{
   text-align: center;
   font-size: 40px;
   background-color: #7b3056;
   width: 100%;
   color: #fff;
}

#wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #12aab4;
  color: #fff;
}

p{
  font-size: 20px;
}
#upperPTag{
margin-top: -5px;
}

.form{
  width: 100%;
  text-align: center;
}
#guess{
  font-size: 50px;
}

#guessField{
  color: #000;
  min-width: 70%;
  min-height: 50px;
  font-size: 50px;
  border: 5px solid #14727d;
  text-align: center;
}

#subt{
  background-color: yellow;
  width: 350px;
  height: 50px;
  margin-top: 50px;
  font-size:30px ;
  border-radius: 25px;
  cursor:pointer;
}

.button{
  background-color: yellow;
  color: #000;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  border-radius: 25px;
  margin: 30px;
  cursor:pointer;
}

.resultParse{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
