body{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px 20px lightgrey;
    z-index: 2;
    padding: 30px 3px  ;
    margin-top: 10%;
}
.col1, .col2{
    max-width: 800px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
.photo{
    flex: 40%;
}
.data{
    flex: 60%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.col1{
    margin-right:10px ;
}
/* @media (max-width:800px) */
