*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-color: #b8c6db;
  padding: 20px;
}

button{
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid green;
}
