body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.box{
  width: 200px;
  height: 200px;
  border: 6px solid blue;
  border-radius: 50%;
  position: relative;
  transition: border-radius 1s ease;
  overflow: hidden;
}

.box1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  border-right: 2px solid black;
  transition: transform 2s ease;
}

.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 201px;
  background-color: lightcoral;
}

.box1:hover{
  transform: translateX(-200px);
  transition: transform 1s ease-in-out;
}

.box:hover{
  border-radius: 0;
}