body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 4px solid blue;
  border-radius: 50%;
  position: relative;
  transition: all 2s ease;
  overflow: hidden;
}

.box1, .box2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  border-right: 2px solid black;
}

.box:hover{
  position: static;
  border-radius: 0;
}
